*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.father{
    display: flex;
    flex-flow: column nowrap;
    /* max-width: 1200px; */ /* added */
}

.header{
    background: black;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: #2d4059;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }
        .logo{
            background: #ea5455;
            flex: 1 1 auto;
            height: 30px;
        }
        .nav{
            background: #ea5455;
            flex: 5 1 auto;
            height: 30px;
        }
        .social{
            background: #ea5455;
            flex: 1 1 auto;
            height: 30px;
        }
    .main-text{
        background: #f07b3f;
    }
        h1{
            background: #ffd460;
        }


.section{
    background: #000;
    display: flex;
}
    .articles{
        background: #4e4e6a;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article{
            background: #1f6cb0;
            flex: 1 1 40%;
        }
        .navigation{
            background: #70a3c4;
            flex: 1 1 100%;
        }
    .aside{
        background: #f73f52;
        flex: 1 1 auto;
    }
        .advertising{
            background: #ffea85;
        }
.footer{
    background: #000;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
    .foot {
        background: #e6af2e;
        width: 100%;
    }
@media all and (max-width:800px){
    .section{
        flex-direction: column;
        background: yellow;
    }
    /* .menu{
        flex-direction: column;
        height: auto;
    }
    
    .aside{
        display: flex;
        justify-content: center;
    } */
    .menu{
        flex-direction: column;
        height: auto;
    }
    .logo, .nav, .social {
        width: 100%; /* Take up full width */
        margin-bottom: 10px; /* Add some space between elements */
    }
    
    .aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advertising{
        width: 100%;
    }
}
@media all and (max-width:600px){
    .articles{
        flex-direction: column;
        background: #2e2e6e;
    }
        .article{
            background: #0286fa;
            width: 100%; /* added */
        }
        .navigation{
            background: #8dadc2;
            width: 100%; /* added */
        }
    .aside{
        background: #80010e;
    }
        .advertising{
            background: #87ee21;
        }
}

@media all and (max-width:400px){
    .aside{
        flex-direction: column;
    }
    /* added */
    .advertising{
        width: 100%; 

    }
}